<div class="row mt-4">
    <div 
    *ngFor = "let o of spaceMissions"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard h-100">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button  mat-stroked-button color="primary">Edit</button>
                <button  mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of worldCuisines"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of mountainRanges"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of famousAuthors"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of prehistoricAnimals"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of famousInventions"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of movieGenres"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div 
    *ngFor = "let o of musicalGenres"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of techInnovations"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div 
    *ngFor = "let o of famousRivers"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div 
    *ngFor = "let o of ancientStructures"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div 
    *ngFor = "let o of boardGames"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>


<div class="row mt-4">
    <div 
    *ngFor = "let o of musicalInstrumentsWorld"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div 
    *ngFor = "let o of festivalsWorld"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between ">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div 
    *ngFor = "let o of wondersOfNature"
    class="col-md-4 mb-4 ">
         <mat-card class="postCard">
            <mat-card-title>
              <h6> {{o.title}}</h6>
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{o.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between action-buttons">
                <button class="btn btn-sm" mat-stroked-button color="primary">Edit</button>
                <button class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div> 